@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');
a {
    text-decoration: none;
}

.card-list {
    display: flex;
    padding: 3rem;
    overflow-x: scroll;
    opacity: 0;
    padding-left: 10 !important;
    cursor: pointer;
}

.card-list>article {
    margin-left: -20px !important;
    overflow-x: scroll;
    background-image: linear-gradient(to top, rgb(0, 0, 0), rgba(255, 255, 255, 0));
    opacity: 0.4 !important;
}

.card-list>article:hover {
    filter: blur(0px) !important;
    background-image: linear-gradient(to top, rgb(177, 48, 9), rgba(255, 255, 255, 0));
    opacity: 1 !important;
}

.cards {
    height: 540px;
}

.cards {
    height: 550px;
    background-color: rgba(195, 26, 26, 0.5);
    backdrop-filter: blur(5px);
}

.card-list::-webkit-scrollbar {
    background-color: #6b6b6b00;
}

.card-list::-webkit-scrollbar-thumb {
    background: #00000000;
}

.card2 {
    height: 350px;
    width: 400px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    box-shadow: -1rem 0 3rem #000;
    display: flex;
    flex-direction: column;
    transition: .2s;
    margin: 0;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    object-fit: cover;
}

.card2:focus-within~.card,
.card:hover~.card {
    transform: translateX(130px);
}

.card2:hover {
    transform: translateY(-1rem);
}

.card2:not(:first-child) {
    margin-left: -130px;
}

.card-header {
    margin-bottom: auto;
}

.card-header p {
    font-size: 14px;
    margin: 0 0 1rem;
    color: #ffffff;
    font-weight: 600;
}

.card-author {
    align-items: center;
    position: relative;
}

.author-name {
    grid-area: auto;
    box-sizing: border-box;
    color: white;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #ffffff;
}

.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #111111;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

.tags a:hover {
    background: linear-gradient(90deg, #ff8a00, #e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}

.cards h2 {
    padding-top: 20px;
    color: #fff;
}

canvas {
    position: absolute;
    z-index: -2;
    top: 0;
    left: 0;
}

.card2 {
    overflow: hidden !important;
}

nav::-webkit-scrollbar {
    width: 0.40rem;
}

nav::-webkit-scrollbar-track {
    background-color: #62626200;
}

nav::-webkit-scrollbar-thumb {
    background-color: rgba(204, 132, 16, 0);
}

.card-list .card2:hover {
    opacity: 1 !important;
}

.showin {
    display: none;
}

.cursor img {
    transition: all 0.4s ease !important;
}


/* cards  */

.card2:nth-child(1) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(2) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(3) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(4) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(5):hover {
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(to top, rgb(177, 48, 9), rgba(255, 255, 255, 0));
}

.card2:nth-child(6):hover {
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(to top, rgb(73, 9, 177), rgba(255, 255, 255, 0));
}

.card2:nth-child(7):hover {
    background-size: cover;
    width: 100%;
    background-image: linear-gradient(to top, rgb(177, 9, 65), rgba(255, 255, 255, 0));
}

.card2:nth-child(8) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(9) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(10) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(11) {
    background-size: cover;
    width: 100%;
}

.card2:nth-child(12) {
    background-size: cover;
    width: 100%;
}


/* circle mouse dashed */

.mouseCors {
    height: 100px;
    width: 100px;
    position: absolute;
    display: flex;
    pointer-events: none;
    transform: translate(-50%, -50%);
}

.circle {
    background-color: #ff880000;
    content: "";
    height: 100px;
    width: 100px;
    border-radius: 50%;
    position: absolute;
    transform-origin: center;
    stroke: rgb(255, 255, 255);
    stroke-width: 1;
    -webkit-animation: spin 9s linear infinite;
    -moz-animation: spin 9s linear infinite;
    animation: spin 9s linear infinite;
    pointer-events: none;
}


/* 
path {
    position: fixed;
    fill: tomato;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 1s linear 1s infinite alternate;
    stroke: rgb(255, 255, 255);
}

@keyframes dash {
    from {
        stroke-dashoffset: 1000;
    }
    to {
        stroke-dashoffset: 0;
    }
} */

.dragword {
    margin: auto;
    color: #fff;
    font-weight: 800;
}

@-moz-keyframes spin {
    100% {
        transform-origin: center;
        -moz-transform: rotate(360deg);
        transform-origin: center;
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform-origin: center;
        transform: rotate(0deg);
    }
    to {
        transform-origin: center;
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}


/* 
.animatedbg {
    position: absolute;
    z-index: -10000 !important;
}

.animatedbg .row {
    display: inline-block;
    position: relative;
    padding: 0% 0;
    top: -2300px;
    transform: rotate(-30deg);
    white-space: nowrap;
}

.animatedbg img {
    position: relative;
    filter: grayscale(100%);
}

.animatedbg img:hover {
    filter: grayscale(0%);
}

.animatedbg .row div {
    animation: animatedbg1 88s linear infinite;
    animation-delay: -280s;
}

.animatedbg .row div:nth-child(2) {
    animation: animatedbg2 80s linear infinite;
    animation-delay: -140s;
}

.animatedbg .row div:nth-child(3) {
    animation: animatedbg2 80s linear infinite;
    animation-delay: 200s;
    position: absolute;
}

@keyframes animatedbg1 {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes animatedbg2 {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(200%);
    }
} */