
@keyframes fadeIn {
    0% {
      opacity: 1;
      transform: translate3d(100%, 0, 0);

    }
  
    100% {
      opacity: 0;
      transform: translate3d(0%, 0, 0);

    }
  }
  
  @keyframes fadeInUp {
    0% {
      opacity: 1;
      transform: translate3d(100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
  @keyframes fadeInRight {
    0% {
      opacity: 1;
      transform: translate3d(-100%, 0, 0);
    }
  
    100% {
      opacity: 1;
      transform: none;
    }
  }
  
.m-scene 
    
    .scene_element {
      animation-duration: 1.25s;
      transition-timing-function: ease-in;
      animation-fill-mode: both;
  
    }
  
    /** An element that fades in */
   
.m-scene    .scene_element--fadein {
      animation-name: fadeIn;
    }
  
    /** An element that fades in and slides up */
   
.m-scene    .scene_element--fadeinup {
      animation-name: fadeInUp;
    }
  
    /** An element that fades in and slides from the right */
   
.m-scene    .scene_element--fadeinright {
      animation-name: fadeInRight;
    }
  
  
    .m-scene 
        .scene_element {
          animation-duration: 1.25s;
          transition-timing-function: ease-in;
          animation-fill-mode: both;
      
        }
      
        .m-scene   .scene_element--fadein {
          animation-name: fadeIn;
        }
      
        .m-scene   .scene_element--fadeinup {
          animation-name: fadeInUp;
        }
      
        .m-scene   .scene_element--fadeinright {
          animation-name: fadeInRight;
        }
      
        /** Reverse "exit" animations */
        .m-scene     .is-exiting 
            .scene_element {
              animation-direction: alternate-reverse;
            }
        
      
.transition-fade {
	transition: 0.4s;
	opacity: 1;
  }
  
  html.is-animating .transition-fade {
	opacity: 0;
  }

  /* .swup-progress-bar {
    height: 100vh;
    background-color: blue;
    z-index: 9999999;
    width:100vw !important
  } */